@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282b30;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

form {
    border: 1px solid #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: auto;
}

form input {
    padding: 5px;
    margin: 2px 0;
    font-family: 'Poppins', sans-serif;
}

.verify {
    cursor: pointer;
}

#inner-text {
    text-align: center;
}

.container .notinha {
    font-size: 10px;
    color: #979797;
}